<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Greeting form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	  <script th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sample Greet</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/greeting">Greeting</a></li>
        <li><a href="/test">Test</a></li>
        <li><a href="/greetingform">Greeting Form</a></li>
        <li><a href="/greetingws">Rest Interface</a></li>
      </ul>
    </div>
  </div>
</nav>
	<h1>Form</h1>
    <form action="#" th:action="@{/greetingform}" th:object="${greetingform}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Message: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>