<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Disk Libary - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	  <script th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Disk Libary</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Home</a></li>
        <li><a href="bluerayform">Blueray</a></li>
        <li><a href="dvdform">Dvd</a></li>
      </ul>
    </div>
  </div>
</nav>  

<div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hello, Movie Collector!</h1>
        <p>Click on either DVD or Blueray to view of add more of each, Or click Category to select which category you want to select from</p>
        
      </div>  

 
</div>
</body>
</html>